### Insert 5 records directly

In [1]:
import csv

In [2]:
f=open('student.csv','w',newline='')

In [3]:
w=csv.writer(f)

In [4]:
header=['sid','sname','city','contact']

In [5]:
w.writerow(header)

24

In [6]:
row=[[1,'om','surat',9887748596],[2,'sai','bardoli',7485966523],[3,'ram','vapi',9586758442],
     [4,'anil','mumbai',8574965241],[5,'sunil','navsari',7874858695]]

In [7]:
w.writerows(row)

In [8]:
f.close()

### Insert 5 records take input from user

In [9]:
f=open('student.csv','a',newline='')

In [10]:
w=csv.writer(f)

In [11]:
l=[]

In [12]:
for i in range(5):
    sid=int(input('Enter student id:'))
    sname=input('Enter student name:')
    city=input('Enter student city:')
    no=int(input('Enter student number:'))
    r=[sid,sname,city,no]
    l.append(r)

Enter student id:6
Enter student name:ashok
Enter student city:chennai
Enter student number:7381968574
Enter student id:7
Enter student name:ajay
Enter student city:pune
Enter student number:8245657512
Enter student id:8
Enter student name:vijay
Enter student city:hyderabad
Enter student number:8321234284
Enter student id:9
Enter student name:rohit
Enter student city:mumbai
Enter student number:7345416375
Enter student id:10
Enter student name:hardik
Enter student city:kolkata
Enter student number:9584625175

In [13]:
w.writerows(l)

In [14]:
f.close()

### Read csv file

In [15]:
f=open('student.csv','r',newline='')

In [16]:
r=csv.reader(f)

In [17]:
header=next(r)

In [18]:
for row in r:
    print(row)

['1', 'om', 'surat', '9887748596']
['2', 'sai', 'bardoli', '7485966523']
['3', 'ram', 'vapi', '9586758442']
['4', 'anil', 'mumbai', '8574965241']
['5', 'sunil', 'navsari', '7874858695']
['6', 'ashok', 'chennai', '7381968574']
['7', 'ajay', 'pune', '8245657512']
['8', 'vijay', 'hyderabad', '8321234284']
['9', 'rohit', 'mumbai', '7345416375']
['10', 'hardik', 'kolkata', '9584625175']

In [19]:
f.close()